.container {
	margin: 20px auto;
	width: 81%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 20px 5%;
}

.paginationbts {
	width: 80%;
	height: 40%;
	list-style: none;
	display: flex;
	justify-content: center;
}
.paginationbts a {
	padding: 10px;
	margin: 8px;
	border-radius: 5px;
	border: 1px solid #2b2eff;
	color: #2b2eff;
	cursor: pointer;
}
/* .paginationdisabled {} */

.paginationactive a {
	color: white;
	background-color: #2b2eff;
}