.checkout {
	background-color: orange;
	padding: 5px 15px;
	font-weight: 600;
	cursor: pointer;
}

.cartpagewrapper {
	width: 50%;
	display: inline-block;
}

@media only screen and (max-width: 768px) {
	.cartpagewrapper {
		width: 80%;
		display: inline-block;
	}
}